/* KFGQPC Uthman Taha Naskh */
@font-face {
	font-family: "Naskh";
	src: url('../../../files/fonts/uthmantn.eot'); /* IE9 Compat Modes */
	src: local('KFGQPC Uthman Taha Naskh'),
		   url('../../../Islamday/fonts/uthmantn.eot') format('eot'), /* IE6-IE8 */
		   url('../../../Islamday/fonts/uthmantn.otf') format('opentype'), 
		   url('../../../Islamday/fonts/uthmantn.woff') format('woff'), /* Modern Browsers */
		   url('../../../Islamday/fonts/uthmantn.ttf') format('truetype'),  /* Safari, Android, iOS */
} 
